 <!-- About Section -->
    <section class="success bg-danger" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am Yeoh Yu Zhi and this is my personal portfolio website. I am 15 years old and I like playing Table Tennis and Soccer. My favourite team is Barcelona. My favourite subejects in school are Science and Mathematics. My CCA is Table Tennis. My 3rd language is German</p>
                </div>
                <div class="col-lg-4">
                    <p>I have a brother, aged 19 and a sister, age 23. I play Table Tennis and card games with them. I study in Dunman High School and my class is 3K. </p>
                </div>

            </div>
        </div>
    </section>
